<div class="row marketing">

	<div class="col-lg-12 col-sm-12 successAlertDiv" ng-show="$ctrl.wasSuccessful">
 	  <div>
	    <div class="bg-success" style="padding-top: 10px;padding-bottom: 30px;margin-bottom: 5px;">
	    	<div class="col-lg-6 col-sm-6"><strong>Created successfully.</strong></div>
	    	<div class="col-lg-6 col-sm-6" style="text-align: right;">
	    		<a id="succAlertMsgCloseId" ng-click="$ctrl.changeSuccAlertState(false)" style="color: #5a5a5a; font-weight: bold; cursor:pointer;"> X </a>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="col-lg-12 col-sm-12" ng-show="$ctrl.errors.length != 0">
		<div ng-repeat="e in $ctrl.errors track by $index">
			<div class="alert alert-danger" role="alert">{{ e.description }}</div>	
		</div>
	</div>
	<div class="col-lg-8 col-sm-12">		
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-primary">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a id="createProgramPanelOpenLinkId" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Create new mentorship program
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
			<form method="POST">
			  <div class="form-group">
				<label for="nameId">Program Name</label>
				<input type="text" class="form-control" id="nameId" placeholder="Program Name" ng-model="program.name" />
			  </div>
			  <div class="form-group">
				<label for="officeId">Office</label>
				<input type="text" class="form-control" id="officeId" placeholder="Office" ng-model="program.office" />
			  </div>
			  <div class="form-group">
				<label for="startDateId">Start Date</label>
				<input type="date" class="form-control" id="startDateId" ng-model="program.startDate" />
			  </div>
			  <div class="form-group">
				<label for="endDateId">End Date</label>
				<input type="date" class="form-control" id="endDateId" ng-model="program.endDate" />
			  </div> 
			  <input type="submit" class="btn btn-primary" ng-click="$ctrl.create(program)" value="Create" id="submitCreateBtnId" />
			</form>	
	      </div>
	    </div>
	  </div>
	  
	  <div class="panel panel-primary">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a id="addNewPhasePanelOpenBtnId" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Add new phase
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
			<form>
			  <div class="form-group">
				<label for="pnameId">Phase Name</label>
				<input type="text" class="form-control" id="pnameId" placeholder="Phase Name" ng-model="phase.name" />
			  </div>
			  <div class="form-group">
				<label for="prgpId">Program</label>
				<select name="programSelect" id="prgpId" ng-model="$ctrl.program.selectedPrg">
					<option ng-repeat="option in $ctrl.program.existing" value="{{option.id}}">{{option.name}}</option>
				</select>
			  </div>
			  <div class="form-group">
				<label for="pstartDateId">Start Date</label>
				<input type="date" class="form-control" id="pstartDateId" ng-model="phase.startDate" />
			  </div>
			  <div class="form-group">
				<label for="pendDateId">End Date</label>
				<input type="date" class="form-control" id="pendDateId" ng-model="phase.endDate" />
			  </div> 
			  <input id="createPhaseSubmitBtn" type="submit" class="btn btn-primary" ng-click="$ctrl.createPhase(phase)" value="Create" />
			</form>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
</div>