<div id="headerContainerID">

    <div class="masthead">
        <h3 class="text-muted">LMS
            <small>0.0.0.0.1</small>
        </h3>
        <nav>
            <ul class="nav nav-justified">
                <li data-th-attr="class=${view eq 'home' ? 'active' : ''}"><a href="#" data-th-href="@{/}">Home</a></li>
                <li data-th-attr="class=${view eq 'programs' ? 'active' : ''}"><a href="#" data-th-href="@{/programs}">Programs</a>
                </li>
                <li data-th-attr="class=${view eq 'employees' ? 'active' : ''}"><a href="#"
                                                                                   data-th-href="@{/employees}">Employees</a>
                </li>
                <li data-th-attr="class=${view eq 'about' ? 'active' : ''}"><a href="#"
                                                                               data-th-href="@{/about}">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="text-right col-lg-12">
            <a data-sec-authorize="isAnonymous()" data-toggle="modal" data-th-action="@{/login}" class="btn btn-primary btn-sm"> Login</a>

            <form data-sec-authorize="isAuthenticated()" data-th-action="@{/logout}" method="post">
                <span data-sec-authorize="isAuthenticated()" data-th-inline="text">Hello
                    [[${#httpServletRequest.remoteUser}]]! </span> <input type="submit" value="Sign Out" class="btn btn-primary btn-sm" />
            </form>
        </div>
    </div>

</div>